.center-name {
  font-weight: 500;
}

.center-address {
  color: gray;
  padding-bottom: .2rem;
}

.center-cont {
  background-color: white;
  padding: .5rem;
  font-size: 0.8rem;
}

.fee-type-free {
  background-color: green;
  color: white;
  border-radius: 3px;
  padding: 0 0.5rem 0.1rem 0.5rem;
  font-weight: 600;
}

.fee-type-paid {
  background-color: orange;
  color: black;
  border-radius: 3px;
  padding: 0 0.5rem 0.1rem 0.5rem;
  font-weight: 600;
}

.center-cont p {
  margin: 0;
}